html, body{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(5,136,223,1) 100%);
}
#canvas1{
    
    position: absolute;
    left: 10px;
    bottom: 30px;
    width: 1200px;
    height: 200px;
}
#grass{
    position: absolute;
    left: 0;
    bottom: 0;
}