html, body{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#canvas1{
    
    position: absolute;
    left: 10px;
    bottom: 30px;
    width: 1200px;
    height: 200px;
}
#grass{
    position: absolute;
    left: 0;
    bottom: 0;
}